<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Address</title>
</head>
<body>
    <form th:action="@{/addNewAddress}" method="post">
        <div>
            <label>Post code:</label>
            <div>
                <input type="number" name="postcode" th:field="*{cusDetails.postCode}" min="1000" max="1999" required>
                <span>*</span>
            </div>
            <label>Address:</label>
            <div>
                <input type="text" name="addressName" th:field="*{cusDetails.addressName}" placeholder="Name" required>
                <span>*</span>
                <input type="text" name="addressType" th:field="*{cusDetails.addressType}" placeholder="road/street/lane" required>
                <span>*</span>
            </div>
            <label>Number:</label>
            <div>
                <input type="number" name="door" th:field="*{cusDetails.door}" min="1" max="500" placeholder="number" required>
                <span>*</span>
                <input type="text" name="bell" th:field="*{cusDetails.bell}" placeholder="bell (optional)">
            </div>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>
