<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userInput.css}">
    <meta charset="UTF-8">
    <title>Add new Address</title>
</head>
<body>
    <form th:action="@{/addNewAddress}" method="post">
        <div>
            <label>Post code:</label>
            <div>
                <input type="number" name="postcode" th:value="*{cusDetails.postCode}" autofocus min="1000" max="1999" required>
                <span class="star">*</span>
            </div>
            <label>Address:</label>
            <div>
                <input type="text" name="addressName" th:value="*{cusDetails.addressName}" placeholder="Name" required>
                <span class="star">*</span>
                <input type="text" name="addressType" th:value="*{cusDetails.addressType}" placeholder="road/street/lane" required>
                <span class="star">*</span>
            </div>
            <label>Number:</label>
            <div>
                <input type="number" name="door" th:value="*{cusDetails.door}" min="1" max="500" placeholder="number" required>
                <span class="star">*</span>
                <input type="text" name="bell" th:value="*{cusDetails.bell}" placeholder="bell (optional)">
            </div>
            <div>
                <label>Reference name:</label>
                <input id="reference" type="text" name="nickname" th:field="*{cusDetails.nickname}" placeholder="home/work" required>
                <span class="star">*</span>
                <p id="error" th:if="${alreadyRegistered == 'alreadyRegistered'}">You already have an address with this reference! Choose another one!</p>
            </div>
        </div>
        <button id="submit" type="submit">Register</button>
        <a href="profile" id="cancel">Cancel</a>
        <div>
            <span class="star">* </span><span class="note"> - These fields are required.</span>
        </div>
    </form>
</body>
</html>
