<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}">
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div>
    <ul>
        <li><a href="homepage">Home</a></li>
        <li><a href="profile">My profile</a></li>
        <li><a href="order">Order</a></li>
        <li><a href="cart">Cart</a></li>
    </ul>
</div>
<form th:action="@{/cart}" method="post">
    <div class="container">
        <table id="cartTable">
            <thead>
            <tr>
                <th>Bun</th>
                <th>Meat</th>
                <th>Cheese</th>
                <th>Sauce</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartBurgerDto : ${dto}" th:object="${cartBurgerDto}">
                <td><span th:text="*{getBun()}"></span></td>
                <td><span th:text="*{getMeat()}"></span></td>
                <td><span th:text="*{getCheese()}"></span></td>
                <td><span th:text="*{getSauce()}"></span></td>
                <td><span th:text="*{getQuantity()}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <span>Select where to deliver: </span>
        <select th:field="*{cusDetails.id}">
            <option th:each="cusDetails : ${details}" th:value="*{cusDetails.id}" th:utext="${cusDetails.nickname}"></option>
        </select>
    </div>
    <button id="submit" class="buttons" type="submit">Send order!</button>
</form>
</body>
</html>
