<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Confirmation</title>
</head>
<body>
    <form th:action="@{/confirmDelete}" th:method="delete">
        <h1>Are you sure you want to delete this address?</h1>
        <table>
            <thead>
            <tr>
                <th>PostCode</th>
                <th>Address Name</th>
                <th>Type</th>
                <th>Door</th>
                <th>Bell</th>
                <th>Delete CONFIRMATION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${cusDetails}">
                <td><span th:text="*{getPostCode()}"></span></td>
                <td><span th:text="*{getAddressName()}"></span></td>
                <td><span th:text="*{getAddressType()}"></span></td>
                <td><span th:text="*{getDoor()}"></span></td>
                <td><span th:text="*{getBell()}"></span></td>
                <td><button type="submit">DELETE ADDRESS</button> </td>
                <td><input type="hidden" th:attr="name='id'" th:value="${cusDetails.id}"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <a href="/profile">Cancel</a>
        </div>
    </form>
</body>
</html>
