<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userInput.css}">
    <meta charset="UTF-8">
    <title>Edit my details</title>
</head>
<body>
    <form th:action="@{/editContact}" th:object="${cus}" th:method="put">
        <div>
            <label>Name:</label>
            <input type="text" name="firstName" th:value="*{getFirstName()}" placeholder="First name" required>
            <span class="star">*</span>
            <input type="text" name="lastName" th:value="*{getLastName()}" placeholder="Last name" required>
            <span class="star">*</span>
        </div>
        <div>
            <label>Phone number:</label>
            <input type="number" name="phoneNumber" th:value="*{getPhoneNumber()}" required>
            <span class="star">*</span>
        </div>
        <button id="submit" type="submit">Update</button>
        <a href="profile" id="cancel">Cancel</a>
        <div>
            <span class="star">* </span><span class="note"> - These fields are required.</span>
        </div>
    </form>
</body>
</html>
