<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="homepage">Home</a></li>
            <li><a href="profile">My profile</a></li>
            <li><a href="order">Order</a></li>
            <li><a href="cart">Cart</a></li>
        </ul>
    </div>
    <form th:action="@{/homepage}" th:object="${cus}" method="get">
        <h1 id="greeting">Hello <span class="cusName" th:text="*{getLastName()}"></span>!</h1>
    </form>
    <div class="userNav">
        <form th:action="@{/endSession}" method="post">
            <button type="submit" id="submit" class="buttons">Farewell</button>
        </form>
    </div>
</body>
</html>
