<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Csirke Takeout</title>
</head>
<body>
<h1>Welcome to Csirke Takeout!</h1>
<h2>Please enter your info and choose your meal!</h2>
<form th:object="${meal}" method="post" action="/order">
    <label>Name:</label>
    <div>
        <input type="text" name="name" th:field="*{name}">
    </div>
    <label>Address:</label>
    <div>
        <input type="text" name="address" th:field="*{address}">
    </div>
    <label>Bases</label>
    <div>
        <input type="radio" value="Rice noodles" th:field="*{base}">Rice noodles
    </div>
    <div>
        <input type="radio" value="Egg noodles" th:field="*{base}">Egg noodles
    </div>
    <div>
        <input type="radio" value="White rice" th:field="*{base}">White rice
    </div>
    <label>Toppings</label>
    <div>
        <select th:field="*{topping}">
            <option value="Chicken">Chicken</option>
            <option value="Beef">Beef</option>
            <option value="Smoked Tofu">Smoked Tofu</option>
        </select>
    </div>
    <button type="submit">Order</button>
</form>
</body>
</html>
