<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}">
    <meta charset="UTF-8">
    <title>Make an order</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="homepage">Home</a></li>
            <li><a href="profile">My profile</a></li>
            <li><a href="order">Order</a></li>
            <li><a href="cart">Cart</a></li>
        </ul>
    </div>
    <form th:action="@{/order}" th:method="post">
        <div class="container">
            <div class="ingredients">
                <label>Bun:</label>
                <input class="first" type="radio" value="Ciabatta" th:field="*{burger.bun}"><span>Ciabatta - $1</span>
                <input class="second" type="radio" value="Wheat-Rye" th:field="*{burger.bun}"><span>Wheat-Rye - $1.2</span>
                <input class="third" type="radio" value="Wholemeal" th:field="*{burger.bun}"><span>Wholemeal - $1.2</span>
                <input class="fourth" type="radio" value="Gluten Free" th:field="*{burger.bun}"><span>Gluten Free - $1.5</span>
            </div>
            <div class="ingredients">
                <label>Meat:</label>
                <input class="first" type="radio" value="Classic Beef" th:field="*{burger.meat}"><span>Classic Beef - $3</span>
                <input class="second" type="radio" value="Chicken" th:field="*{burger.meat}"><span>Chicken - $2</span>
                <input class="third" type="radio" value="Pulled Pork" th:field="*{burger.meat}"><span>Pulled Pork - $2.5</span>
                <input class="fourth" type="radio" value="Tofu" th:field="*{burger.meat}"><span>Tofu - $1.5</span>
            </div>
            <div class="ingredients">
                <label>Cheese:</label>
                <input class="first" type="radio" value="Cheddar" th:field="*{burger.cheese}"><span>Cheddar - $2</span>
                <input class="second" type="radio" value="Camembert" th:field="*{burger.cheese}"><span>Camembert - $2.3</span>
                <input class="third" type="radio" value="Gorgonzola" th:field="*{burger.cheese}"><span>Gorgonzola - $2.6</span>
                <input class="fourth" type="radio" value="Smoked Mozzarella" th:field="*{burger.cheese}"><span>Smoked Mozzarella - $2</span>
            </div>
            <div class="ingredients">
                <label>Sauce:</label>
                <input class="first" type="radio" value="BBQ" th:field="*{burger.sauce}"><span>BBQ</span>
                <input class="second" type="radio" value="Wasabi-Pickle Mayo" th:field="*{burger.sauce}"><span>Wasabi-Pickle Mayo</span>
                <input class="third" type="radio" value="Truffle Mayo" th:field="*{burger.sauce}"><span>Truffle Mayo</span>
                <input class="fourth" type="radio" value="Chili" th:field="*{burger.sauce}"><span>Chili</span>
            </div>
            <div class="quantity">
                <div class="quantityLabel">
                <label>Quantity:</label>
                </div>
                <div class="selectContainer">
                <select id="quantitySelect" th:field="*{cart.quantity}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                </div>
            </div>
        </div>
        <button id="submit" class="buttons" type="submit">Add to cart</button>
        <p id="addedToCart" th:if="${addedToCart == 'addedToCart'}">Burger(s) added to your Cart successfully!</p>
    </form>
</body>
</html>
