<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}">
    <meta charset="UTF-8">
    <title>Make an order</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="homepage">Home</a></li>
            <li><a href="profile">My profile</a></li>
            <li><a href="order">Order</a></li>
        </ul>
    </div>
    <form th:object="${burger}" th:action="@{/order}" th:method="post">
        <div id="bun">
            <label>Bun:</label>
            <div>
                <input type="radio" value="Ciabatta" th:field="*{bun}">Ciabatta - $1
            </div>
            <div>
                <input type="radio" value="Wheat-Rye" th:field="*{bun}">Wheat-Rye - $1.2
            </div>
            <div>
                <input type="radio" value="Wholemeal" th:field="*{bun}">Wholemeal - $1.2
            </div>
            <div>
                <input type="radio" value="Gluten Free" th:field="*{bun}">Gluten Free - $1.5
            </div>
            <div>
                <input type="checkbox" value="with sesam seeds" th:field="*{bun}">With sesam seeds
            </div>
        </div>
        <div id="meat">
            <label>Meat:</label>
            <div>
                <input type="radio" value="Classic Beef" th:field="*{meat}">Classic Beef - $3
            </div>
            <div>
                <input type="radio" value="Chicken" th:field="*{meat}">Chicken - $2
            </div>
            <div>
                <input type="radio" value="Pulled Pork" th:field="*{meat}">Pulled Pork - $2.5
            </div>
            <div>
                <input type="radio" value="Tofu" th:field="*{meat}">Tofu - $1.5
            </div>
            <div>
                <input type="checkbox" value="double" th:field="*{meat}">Double
            </div>
        </div>
        <div id="cheese">
            <label>Cheese:</label>
            <div>
                <input type="radio" value="Cheddar" th:field="*{cheese}">Cheddar - $2
            </div>
            <div>
                <input type="radio" value="Camembert" th:field="*{cheese}">Camembert - $2.3
            </div>
            <div>
                <input type="radio" value="Gorgonzola" th:field="*{cheese}">Gorgonzola - $2.6
            </div>
            <div>
                <input type="radio" value="Smoked Mozzarella" th:field="*{cheese}">Smoked Mozzarella - $2
            </div>
            <div>
                <input type="checkbox" value="double" th:field="*{cheese}">Double
            </div>
        </div>
        <div id="sauce">
            <label>Sauce:</label>
            <div>
                <input type="radio" value="BBQ" th:field="*{sauce}">BBQ
            </div>
            <div>
                <input type="radio" value="Wasabi-Pickle Mayo" th:field="*{sauce}">Wasabi-Pickle Mayo
            </div>
            <div>
                <input type="radio" value="Truffle Mayo" th:field="*{sauce}">Truffle Mayo
            </div>
            <div>
                <input type="radio" value="Chili" th:field="*{sauce}">Chili
            </div>
        </div>
        <div id="extras">
            <label>Extras:</label>
            <div>
                <input type="checkbox" value="Onion Marmelade" th:field="*{extras}">Onion Marmelade - $0.8
            </div>
            <div>
                <input type="checkbox" value="Fried Egg" th:field="*{extras}">Fried Egg - $0.5
            </div>
            <div>
                <input type="checkbox" value="Jalapenos" th:field="*{extras}">Jalapenos - $0.7
            </div>
            <div>
                <input type="checkbox" value="Pineapple" th:field="*{extras}">Pineapple - $0.3
            </div>
        </div>
        <button id="submit" type="submit">Add to cart</button>
    </form>
</body>
</html>
