<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div>
        <a href="homepage">Home</a>
        <a href="profile">My profile</a>
    </div>
    <form th:action="@{/profile}" method="get">
        <h1>Here you can change your details, add new delivery addresses or check your orders!</h1>
        <p th:if="${access == 'accessDenied'}">You are not authorized to access other customers details!</p>
        <span th:object="${cus}"><a th:href="@{/editContact}">Edit my details</a></span>
        <table>
            <thead>
            <tr>
                <th>PostCode</th>
                <th>Address Name</th>
                <th>Type</th>
                <th>Door</th>
                <th>Bell</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cusDetails : ${details}" th:object="${cusDetails}">
                <td><span th:text="*{getPostCode()}"></span></td>
                <td><span th:text="*{getAddressName()}"></span></td>
                <td><span th:text="*{getAddressType()}"></span></td>
                <td><span th:text="*{getDoor()}"></span></td>
                <td><span th:text="*{getBell()}"></span></td>
                <td><a th:href="@{/confirmDelete/{id}(id=${cusDetails.getId()})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <div>
            <a href="addNewAddress">Add new address</a>
        </div>
    </form>
</body>
</html>
