<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Please enter your details!</h1>
    <form th:action="@{/register}" method="post">
        <label>Name:</label>
        <div>
            <input type="text" name="firstName" th:value="*{cus.firstName}" placeholder="First name" autofocus required>
            <span>*</span>
            <input type="text" name="lastName" th:value="*{cus.lastName}" placeholder="Last name" required>
            <span>*</span>
        </div>
        <label>E-mail:</label>
        <div>
            <input type="email" name="email" th:field="*{cus.email}" required>
            <span>*</span>
            <span> - This will be your username!</span>
            <p th:if="${alreadyRegistered == 'alreadyRegistered'}">This email has been already registered! Choose another one!</p>
        </div>
        <label>Password:</label>
        <div>
            <input type="password" name="pwd" th:field="*{cus.pwd}" required>
            <span>*</span>
        </div>
        <label>Phone number</label>
        <div>
            <input type="number" name="phoneNumber" th:value="*{cus.phoneNumber}" required>
            <span>*</span>
        </div>
        <label>Post code:</label>
        <div>
            <input type="number" name="postCode" th:value="*{cusDetails.postCode}" min="1000" max="1999" required>
            <span>*</span>
        </div>
        <label>Address:</label>
        <div>
            <input type="text" name="addressName" th:value="*{cusDetails.addressName}" placeholder="Name" required>
            <span>*</span>
            <input type="text" name="addressType" th:value="*{cusDetails.addressType}" placeholder="road/street/lane"
                   required>
            <span>*</span>
        </div>
        <label>Number:</label>
        <div>
            <input type="number" name="door" th:value="*{cusDetails.door}" min="1" max="500" placeholder="number" required>
            <span>*</span>
            <input type="text" name="bell" th:value="*{cusDetails.bell}" placeholder="bell (optional)">
        </div>
        <button type="submit">Register</button>
        <p>* - These fields are required.</p>
    </form>
</body>
</html>
